/*game layer*/
#gameWrap{
    width:100vw;
    height:100%;
    bottom:12vh;
    position:fixed;
}
#wrongWrap{
    width:100%;
    padding-bottom: 2rem;
}
#smoke{
    max-width:150px;
    height: auto;
    position: absolute;
    padding: inherit;
    z-index:1000;
}
#wrongWrap h4{
    line-height: 520%;
    /*275% ok for med-large, 400%+ xl - 500% biggest my laptop*/
    z-index:1010;
}
/*start robot*/
#OUTER{
    height: 100%;
    width:100%;
    padding: 0;
}
#robotWrap{
    width:475px;
    height:373px;
    padding:0;
    display:grid;
    grid-template-rows: 23% 24% 36% 17%;
    grid-template-columns: repeat(12, 1fr);
    align-items: start;
    justify-items: center;
    justify-content: stretch;
    align-content: start;
    gap:2px;
    grid-template-areas: '. . . . . . . . . . . .''. cage cage cage . . . . . . . .''. guessWrap guessWrap . timerWrap timerWrap . barometer . . . .''. guess guess guess guess guess guess guess guess . . .';
    z-index: 2000;
}
#ROBOT{
    position: absolute;
    bottom:0;
    z-index: 2005;
    width: 475px;
    height:auto;
}
#cage{
    grid-area: cage;
    z-index: 2001;
    height:100%;
    width:85%;
    margin-left:-15%;
}
#guessWrap{
    grid-area:guessWrap;
    max-width: 100%;
    z-index: 2010;
    margin-top:.25rem;
}
#guessBox{
    width: 100%;
    border: 2px solid rgb(216,21,38);
    font-size: 2.85rem;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'Nanum Gothic','Roboto',sans-serif;
    background-color: #eee;
}
#guessButton{
    margin-top: .75rem;
    border-radius: .5rem;
    font-family: 'Luckiest Guy','Roboto',sans-serif;
    background-color: rgb(249,231,54);
    max-width: 100%;
    font-size: 1.1rem;
    font-weight: 700;
}
#guessButton:hover{
    color:rgb(216,21,38);
}
#timerWrap{
    margin-top:.25rem;
    grid-area: timerWrap;
    font-family: 'Nanum Gothic','Roboto',sans-serif;
    max-width: 100%;
    z-index: 2020;
}
#timerWrap h4{
    color:rgb(216,21,38);
    font-weight: 700;
    font-size: 1.25rem;
}
#timer{
    width:100%;
    font-size: 2rem;
    height: 3.75rem;
    border-radius: 50%;
    border: 2px solid rgb(216,21,38);
    line-height: 1.75;
    background-color: #eee;
}
#barometer{
    grid-area:barometer;
    border: .125rem solid rgb(216,21,38);
    border-radius: 2rem;
    background-image: url('./images/redsquare.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 100%;
    max-width: 100%;
    min-width: 75%;
    height: 90%;
    z-index: 2030;
    margin-top: .125rem;
}
#goodGuesses{
    grid-area: guess;
    font-family: 'Nanum Gothic','Roboto',sans-serif;
    z-index: 2040;
    text-transform: uppercase;
    font-size: 3rem;
    margin-top: -.75rem;
    width: 120%;
    margin-left: -.8rem;
}
.ul{
    text-decoration-line: underline;
    text-decoration-color: rgb(249,231,54);
}
.nul{
    color:rgba(0,0,0,0);
}
#grassWrap{
    width:100vw;
    bottom:0;
    position:fixed;
    margin: 0;
    z-index: 0;
}
#grass{
    background-color: #24a105;
    height:15vh;
    width:100%;
}
#saveWrap{
    width:100%;
    height:100%;
    z-index:3000;
}
#saveIt{
    max-width:135px;
    min-width:100px;
    width:100%;
    height:auto;
}
#noPlay{
    display:none;
}
/*Extra Small devices, portrait phones etc*/
@media only screen and (max-width:575.98px){
/*OH NO! Your screen is TOO SMALL for Guessatronic!*/
    #noPlay{
        display:block;
        color: rgb(216,21,38);
        font-family: 'Luckiest Guy','Roboto',sans-serif;
    }
    #gameWrap{
        display:none;
    }
}
/*Small devices, landscape phones etc*/
@media only screen and (min-width:576px) and (max-width: 767.98px){
    #gameWrap{
        bottom:6vh;
    }
    #wrongWrap{
        margin-left: 1.5rem;
    }
    #smoke{
        max-width:100px;
    }
    #wrongWrap h4{
        line-height: 400%;
    }
    #OUTER{
        margin-left:1rem;
    }
    #ROBOT{
        width:275px;
    }
    #robotWrap{
        width: 275px;
        height: 216px;
    }
    #guessWrap{
        margin-top:0;
    }
    #guessBox{
        font-size:1.5rem;
    }
    #guessButton{
        margin-top:0.2rem;
        border-radius: 0.275rem;
        font-size: 0.65rem;
        padding: 0 2px;
    }
    #timerWrap{
        margin-top:0;
        margin-bottom:0;
    }
    #timerWrap h4{
        font-size:.8rem;
    }
    #timer{
        font-size: 1.5rem;
        height:2.5rem;
        line-height: 1.5;
    }
    #barometer{
        margin-top:0;
        height:82.5%;
    }
    #goodGuesses{
        font-size:1.75rem;
    }
    #saveIt{
        max-width:100px;
        min-width:50px;
        margin-left: 2rem;
    }
    #grass{
        height:8vh;
    }
}
/*Medium devices, big phone landscape, tablets etc*/
@media only screen and (min-width:768px) and (max-width:991.98px){
    #smoke{
        max-width:120px;
    }
    #wrongWrap h4{
        line-height: 460%;
    }
    #ROBOT{
        width:375px;
    }
    #robotWrap{
        width: 375px;
        height: 294.5px;
    }
    #guessBox{
        font-size:2.2rem;
    }
    #guessButton{
        margin-top:0.25rem;
        border-radius: 0.35rem;
        font-size:0.8rem;
    }
    #timerWrap{
        margin-top:0;
        margin-bottom:0;
    }
    #barometer{
        margin-top:0;
        height:85%;
    }
    #goodGuesses{
        font-size:2.25rem;
    }
    #saveIt{
        margin-left: 1rem;
    }
    #grass{
        height:10vh;
    }
    #gameWrap{
        bottom:8vh;
    }
}
/*Large devices - laptops etc*/
@media only screen and (min-width:992px) and (max-width:1199.98px){

}
/*XL devices - bigger laptops/desktops*/
@media only screen and (min-width:1200px){
    #saveIt{
        max-width:150px;
        min-width:135px;
    }
}

/*so these settings legit only work for ONE size display that I was using b/c chrome devtools...15px either direction and it BREAKS...ok, so it's more like 50 - 1100x758 is the current sweetspot. ss drops to 990w if we put padding:0 on OUTER

THOUGHT -maybe write a javascript function that determine's robotWrap height as variable based on VW and VH proportions... height 35% at 1081-ss 1100px to 1136 W, 38% up to 1225, 1265-1315 41%,44% 1335-something


LAST THOUGHT - This grid method does not seem to be any more beneficial than using the built in-bootstrap grid super nested.
UGH!!!!!!!!

IN WHICH CASE:
---------------Maybe we just make 3 or 4 versions of game layout with robot HARD PIXEL CODED IN PLACE, so it's not as reponsive, but it's not shitting everywhere.
I don't wanna, but I think we need to. Time to finish this and PUT IT TO BED. (me first though. 'night)

*/