@font-face {
    font-family: 'Luckiest Guy';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('Luckiest Guy Regular'), local('LuckiestGuy-Regular'), url(https://fonts.gstatic.com/s/luckiestguy/v10/_gP_1RrxsjcxVyin9l9n_j2hTd52.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local('NanumGothic'), url(https://fonts.gstatic.com/s/nanumgothic/v17/PN_3Rfi-oW3hYwmKDpxS7F_z-7rJxHVIsPV5MbNO2rV2_va-Nv6p.0.woff2) format('woff2');
    unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}
@font-face {
    font-family: 'Nanum Gothic';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local('NanumGothic Bold'), local('NanumGothic-Bold'), url(https://fonts.gstatic.com/s/nanumgothic/v17/PN_oRfi-oW3hYwmKDpxS7F_LQv37yzkx1Yl3P690375P--a0I5vFgZwP.0.woff2) format('woff2');
    unicode-range: U+f9ca-fa0b, U+ff03-ff05, U+ff07, U+ff0a-ff0b, U+ff0d-ff19, U+ff1b, U+ff1d, U+ff20-ff5b, U+ff5d, U+ffe0-ffe3, U+ffe5-ffe6;
}
body{
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: hidden;
}

#gametitle{
    font-family: 'Luckiest Guy','Roboto',sans-serif;
    color: rgb(216,21,38);
    background-color: rgb(249,231,54);
    border: .5rem solid rgb(216,21,38);
    padding: 1rem;
    border-radius: 1.25rem;
    margin: 1rem 0px;
}
#levelWrap{
    flex-wrap: nowrap;
    margin: 0 2rem;
}
#levelWrap h4{
    text-align: right;
    font-family: 'Luckiest Guy','Roboto',sans-serif;
    color: rgb(216,21,38);
    margin-top: .5rem;
}
#levelWrap button{
    margin:.5rem;
    border-radius: .5rem;
    font-family: 'Nanum Gothic','Roboto',sans-serif;
    font-weight: 700;
    font-size: 1rem;
    color: rgb(216,21,38);
    border-color: rgb(216,21,38);
    background-color: rgba(213, 255, 253,.1);
}
#levelWrap button:hover{
    background-color: rgb(249,231,54);
}
#controlWrap button{
    margin: 1rem;
    border-radius: .5rem;
    font-family: 'Luckiest Guy','Roboto',sans-serif;
    font-size: 1.5rem;
    padding:.25rem 1rem;
    border-width: .25rem;
    background-color: rgb(249,231,54);
}
#start{
    color: rgb(216,21,38);
    border-color: rgb(216,21,38);
}
#howToButton{
    color: #24a105;
    border-color: #24a105;
}
#howTo{
    display: none;
    background-color:rgba(213,255,253,.1);
    border: 5px solid #24a105;
    border-radius: 1rem;
    padding: .5rem;
    font-family: 'Nanum Gothic','Roboto',sans-serif;
    font-weight: 400;
    margin: 0 auto;
}
#howTo span{
    font-family: 'Luckiest Guy','Roboto',sans-serif;
    font-size: 1.25rem;
    color: #24a105;
}
/*game layer*/
#gameWrap{
    position: absolute;
    bottom: 12vh;
    width: 100vw;
}
#wrongWrap{
    background-image:url('./images/smoke1.svg');
    background-size:contain;
    background-repeat: no-repeat;
}
/*start robot*/
#robotWrap{
    width:100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index:2000;
    padding:0px;
    position: relative;
}
#ROBOT{
    position: absolute;
    bottom:0;
    left:0;
}
#ROBOTonTOP{
    position: absolute;
    bottom:.5rem;
    left:0;
    z-index:3000;
    padding: 0;
}
#roboTopSpacer{
    height:24%;
}
#cageWrap{
    height:24%;
}
#roboInfoWrap{
    height:30%;
}
#guessBox{
    width:100%;
    padding-top: 100%;
    border: 2px solid red;
}
#guessButton{
    width:100%;
    border-radius: .5rem;
    font-family: 'Luckiest Guy','Roboto',sans-serif;
    font-size: 1.2rem;
    background-color: rgb(249,231,54);
}
#timerWrap{
    /*display:none;*/
    font-family: 'Nanum Gothic','Roboto',sans-serif;
}
#timerWrap h4{
    font-size:1.5rem;
}
#timer{
    width:100%;
    padding-top: 100%;
    border-radius: 50%;
    border: 2px solid red;
    font-size: 2rem;
    font-weight: 700;
}
#barometer{
    border: .125rem solid rgb(216,21,38);
    border-radius: 2rem;
    background-image: url('./images/redsquare.png');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 100%;
}
#goodWrap{
    z-index:3001;
    height:1.8rem;
}
#goodGuesses{
    font-family: 'Nanum Gothic','Roboto',sans-serif;
    font-size:1.5rem;
    border-bottom: 3px solid red;
}
#grass{
    background-color: #24a105;
    height:15vh;
    position: absolute;
    width:100vw;
    bottom:0;
}
#saveWrap{
   width: 20vw;
}
#saveIt{
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 1.25vh;
    z-index: 4000;
    right: 1rem;
}

/*xs size change flex-wrap on #levelWrap*/
/*be sure to increase #howTo max-width for smaller screens*/